HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: assignee6@posse-ap.com
Reply-To: assignee6@posse-ap.com
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

問い合わせID:7\nエージェントID:3\nエージェント名:エージェント3\n問い合わせ時間:2022-06-01 01:00:12\nメールアドレス:user7@gmail.com\n名前(漢字):就活7\n名前(フリガナ):シュウカツ7\n電話番号:サンプル電話番号7\n大学:サンプル大学7\n学部:サンプル学部7\n学科:サンプル学科7\n卒業年度:2024\n郵便番号:サンプル郵便番号7\n住所:サンプル住所7\n相談:\n同時問い合わせ:エージェント6,エージェント7\nをafdaの理由で通報します