HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: 
Reply-To: 
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

apply_id-5agent_id-3agent_name-エージェント3apply_time-2022-05-16 01:00:12applicant_email_address-user5@gmail.comapplicant_name_kanji-就活5applicant_name_furigana-シュウカツ5applicant_phone_number-サンプル電話番号5applicant_university-サンプル大学5applicant_gakubu-サンプル学部5applicant_gakka-サンプル学科5applicant_graduation_year-2024applicant_postal_code-サンプル郵便番号5applicant_address-サンプル住所5applicant_consultation-サンプル相談5applicant_other_agents-エージェント6,エージェント7をaffdの理由で通報します