HELO:<localhost>
FROM:<nobody@f2925f8816bb>
TO:<assignee7@posse-ap.com>

To: assignee7@posse-ap.com
Subject: =?ISO-2022-JP?B?GyRCRkM9ODUtO3Y+N0JUJWEbKEI=?=
 =?ISO-2022-JP?B?GyRCITwlaxsoQg==?=
From: sample@gmail.com
Reply-To: sample@gmail.com
Content-Type: text/plain;
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit

エージェント3支店2の氏名7さんへの特集記事招待メールテンプレ