HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: 
Reply-To: 
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

apply_id-6agent_id-3agent_name-エージェント3apply_time-2022-05-15 01:00:12applicant_email_address-user6@gmail.comapplicant_name_kanji-就活6applicant_name_furigana-シュウカツ6applicant_phone_number-サンプル電話番号6applicant_university-サンプル大学6applicant_gakubu-サンプル学部6applicant_gakka-サンプル学科6applicant_graduation_year-2024applicant_postal_code-サンプル郵便番号6applicant_address-サンプル住所6applicant_consultation-サンプル相談6applicant_other_agents-エージェント6,エージェント7をfdaの理由で通報します