HELO:<localhost>
FROM:<nobody@f2925f8816bb>
TO:<assignee7@posse-ap.com>

To: assignee7@posse-ap.com
Subject: =?UTF-8?B?54m56ZuG6KiY5LqL5oub5b6F44Oh44O8?=
 =?UTF-8?B?44Or?=
From: admin@gmail.com
Reply-To: admin@gmail.com
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

エージェント3支店2の氏名7さんへの特集記事招待メールテンプレ