HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: assignee6@posse-ap.com
Reply-To: assignee6@posse-ap.com
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

問い合わせID-7エージェントID-3エージェント名-エージェント3問い合わせ時間-2022-06-01 01:00:12メールアドレス-user7@gmail.com名前(漢字)-就活7名前(フリガナ)-シュウカツ7電話番号-サンプル電話番号7大学-サンプル大学7学部-サンプル学部7学科-サンプル学科7卒業年度-2024郵便番号-サンプル郵便番号7住所-サンプル住所7相談-同時問い合わせ-エージェント6,エージェント7をafdaの理由で通報します