HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: 
Reply-To: 
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

apply_id-4agent_id-3agent_name-エージェント3apply_time-2022-05-15 01:00:12applicant_email_address-user4@gmail.comapplicant_name_kanji-就活4applicant_name_furigana-シュウカツ4applicant_phone_number-サンプル電話番号4applicant_university-サンプル大学4applicant_gakubu-サンプル学部4applicant_gakka-サンプル学科4applicant_graduation_year-2024applicant_postal_code-サンプル郵便番号4applicant_address-サンプル住所4applicant_consultation-applicant_other_agents-エージェント6,エージェント7