HELO:<localhost>
FROM:<nobody@e21f5201da11>
TO:<admin@gmail.com>

To: admin@gmail.com
Subject: =?UTF-8?B?6YCa5aCx?=
From: assignee6@posse-ap.com
Reply-To: assignee6@posse-ap.com
Content-Transfer-Encoding:8bit
Content-Type: text/plain;charset=UTF-8
MIME-Version: 1.0

問い合わせID:4
エージェントID:3
エージェント名:エージェント3
問い合わせ時間:2022-05-15 01:00:12
メールアドレス:user4@gmail.com
名前(漢字):就活4
名前(フリガナ):シュウカツ4
電話番号:サンプル電話番号4
大学:サンプル大学4
学部:サンプル学部4
学科:サンプル学科4
卒業年度:2024
郵便番号:サンプル郵便番号4
住所:サンプル住所4
相談:
同時問い合わせ:エージェント6,エージェント7
:2022-06-01 23:59:59
上記の学生をｆｓだの理由で通報します