HELO:<localhost>
FROM:<nobody@f2925f8816bb>
TO:<yutahonjo@keio.jp>

To: yutahonjo@keio.jp
Subject: =?ISO-2022-JP?B?GyRCJT8lJCVIJWsbKEI=?=
From: from@example.com
MIME-Version: 1.0
Content-Type: text/plain; charset=ISO-2022-JP
Content-Transfer-Encoding: 7bit

本文