html{
    width: 100%;
}
body{
    width: 100%;
    background: #eaedf2;
}
/* header */
.admin-header-all{
	background-color: #52a49a;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.admin-header-logo-box{
    display: inline-block;
    /* margin: 10px 0 10px 5%; */
}
.admin-header-logo-box img{
    width: 50%;
}
.admin-header-toplink-box{
    margin: 10px;
    display: flex;
    gap: 20px;
}
.admin-header-toplink-box a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

/* 並び替え */
.admin-exclusive{
    font-weight: bold;
    font-size: 25px;
    width: 80%;
    margin-left: 5%;
}
.admin-sort{
    width: 80%;
    margin: 10px auto;
}

/* エージェント一覧 */
.admin-agent-list-box{
    width: 80%;
    display: flex;
    margin: 20px auto 30px auto;
    /* border: solid; */
    background: #fff;
}
.admin-agent-name{
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}
.admin-agent-detail{
    padding-bottom:10px;
    color:rgb(53, 52, 52);
}
.admin-agent-buttons{
    padding:0 10px 10px 0;
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:bottom;
}
.admin-agent-button-box{
    height:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.admin-agent-detail-button{
    width:95%;
    border: none;
    border-radius:10px;
    height:30px;
    color:white;
    background-color:rgb(104, 182, 212);
}
.admin-agent-invitation-button{
    width:95%;
    border-radius:10px;
    border: none;
    height:30px;
    color:white;
    background-color:rgb(75, 196, 146);
}
.admin-agent-invited-button{
    width:95%;
    pointer-events:none;
    border-radius:10px;
    border: none;
    height:30px;
    color:white;
    background-color:red;
}

/* ページネーション */
.agent-pagenation-frame{
    text-align: right;
}
.agent-pagenation-parent{
    display: inline-block;
    text-align: right;
    background: #52a49a;
    margin-right: 10%;
    padding: 10px 10px;
}
.agent-pagenation-all-box{
    display:flex;
    justify-content: flex-end;
    /* margin-right: 10%; */
    gap: 5px;
}
.admin-pagenation-number{
    text-align: center;
    width: 25px;
    background: #fff;
    /* border-radius: 20px; */
    color: #000;
    cursor: pointer;
}
.admin-pagenation-arrow{
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}

/* エージェント追加機能 */
.admin-add-agent{
    margin-left: 10%;
}
.admin-event-link{
    margin-left: 10%;
}

/* エージェント詳細テーブル */
.admin-agent-detail-table-unit{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* width:max-content; */
    margin:0 auto;
}
.admin-agent-detail-table-head-box{
    display: flex;
    background: #fff;
    width: 80%;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.admin-agent-detail-table-agent-name{
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
    vertical-align: middle;
}
.admin-agent-detail-table-img-box{
    display: inline-block;
    width: 40%;
}
.admin-agent-detail-table-img{
    width: 100%;
    margin: auto;
}
/* 契約情報テーブル */
.admin-agent-detail-contract-table-box-all{
    background-color:#fff;
    width: 80%;;
    padding:0 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-contract-table-head{
    display:flex;
    justify-content:center;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}
.admin-agent-detail-contract-table-box{
    display:flex;
    justify-content:center;
}
.admin-agent-detail-contract-table{
    width: 80%;
}
.admin-agent-detail-table-text{
    border:1px solid black;
    padding: 10px;
}
.admin-agent-detail-table-content{
    border:1px solid black;
    padding: 10px;
}

/* 掲載情報テーブル */
.admin-agent-detail-public-all-box{
    background-color:#fff;
    width: 80%;;
    padding:0 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-public-table-name{
    font-weight: bold;
    padding: 10px;
    font-size: 25px;  
    text-align: center; 
}
.admin-agent-detail-public-table-box{
    display:flex;
    justify-content:center;
}
.admin-agent-detail-public-table{
    width: 80%;
}
.admin-agent-detail-table-public-edit-btn-box{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.admin-agent-detail-table-public-edit-btn{
    border:1px solid;
    padding:10px;
    width: 200px;
    border-radius:15px;
    font-weight: bold;
    font-size: 20px;
    background-color:#4c9bfc;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
/* エージェント説明文 */
.admin-agent-detail-explain-all-box{
    background-color:#fff;
    width: 80%;;
    padding:0 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-explain-name{
    font-weight: bold;
    padding: 10px;
    font-size: 25px;  
    text-align: center; 
}
.admin-agent-detail-explain-text{
    width: 80%;
    border: solid;
    margin: auto;
    height: 300px;
}
.admin-agent-detail-explain-edit-btn-box{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.admin-agent-detail-explain-edit-btn{
    border:1px solid;
    padding:10px;
    width: 200px;
    border-radius:15px;
    font-weight: bold;
    font-size: 20px;
    background-color:#4c9bfc;
    text-align: center;
    color: #fff;
    cursor: pointer;   
}
/* 担当者情報 */
.admin-agent-detail-person-all{
    background-color:#fff;
    width: 80%;;
    padding:0 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-person-head{
    font-weight: bold;
    padding: 10px;
    font-size: 25px;  
    text-align: center;    
}
.admin-agent-detail-person-table-text{
    border:1px solid black;
    padding: 10px;
    width: 20%;
}
.admin-agent-detail-person-table-content{
    border:1px solid black;
    padding: 10px;
    width: 80%;
}
.admin-agent-detail-person-table-delete-btn{
    width: 70%;
    padding: 10px;
    background: red;
    color: #fff;
    border: solid;
    font-weight: bold;
}
.admin-agent-detail-person-table-add-btn{
    text-align:center;
    background-color:#4c9bfc;
    color: #fff;
    padding: 10px;
    width: 200px;
    border: solid;
    border-radius:15px;
    align-items:center;
    font-weight: bold;
}

/* エージェントカレンダー部分 */
.admin-agent-detail-calender-unit{
    background-color:#fff;
    width: 80%;;
    padding:0 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-calender-head{
    font-weight: bold;
    padding: 10px;
    font-size: 25px; 
    display:flex;
    width:100%;
    justify-content:center;
}
.admin-agent-detail-calender-month-move{
    color: #000;
    text-decoration: none;
    margin: 5px 5px 5px 0;
    padding: 0 9px;
    font-weight: bold;
    font-size: 22px;
}
.admin-agent-detail-calender-month-move:hover{
    cursor: pointer;
    background:#eaedf2;
    padding: 0 9px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}
.admin-agent-detail-calender-table{
    width: 80%;
    margin: auto;
}
.admin-agent-detail-year-month{
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: 22px
}
.admin-agent-detail-calender-number{
    position:absolute;
    bottom:0;
    right:0;
    width:60%;
    height:60%;
    text-align:center;
    text-decoration: underline 2px;
    text-decoration-color: #52a49a;
    cursor: pointer;
}
/* エージェント詳細グラフ */
.admin-agent-detail-graph-unit{
    background-color:#fff;
    width: 80%;;
    padding:20px 20px 20px 20px;
    margin: 20px auto;
}
.admin-agent-detail-graph{
    width: 60%;
    margin: auto;
}

/* エージェント編集ポップアップ */
.admin-agent-detail-edit-popup-public-all{
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    top:0;
    left:0;
    opacity:50%;
}
.admin-agent-detail-edeit-popup-public-in-box{
    position:absolute;
    background-color:white;
    top:50%;
    left:50%;
    padding: 20px;
    transform:translate(-50%,-50%);
}
.admin-agent-detail-edit-popup-public-head{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.admin-agent-detail-edit-popup-public-talbe-text{
    border:1px solid black;
    padding: 10px;
    width: 20%;
}
.admin-agent-detail-edit-popup-public-table-content{
    border:1px solid black;
    padding: 10px;
}
.admin-agent-detail-edit-popup-public-btns{
    display:flex;
    padding-top: 10px;
    justify-content: center;
}
.admin-agent-detail-edit-popup-public-btn-cancel{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    color: red;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
}
.admin-agent-detail-edit-popup-public-btn-confirm{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    color: #fff;
    background: red;
    cursor: pointer;
    font-weight: bold;
}
/* エージェント説明文編集ポップアップ */
.admin-agent-detail-edit-popup-explanation-all{
    position:absolute;
    background-color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 20px;
}
.admin-agent-detail-edit-popup-explanation-head{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 5px;
}
.admin-agent-detail-edit-popup-explanation-textarea{
    width: 100%;
}
.admin-agent-detail-edit-popup-explanation-btns{
    display:flex;
    padding-top: 10px;
    justify-content: center;
}
.admin-agent-detail-edit-popup-explanation-cancel-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    color: red;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
}
.admin-agent-detail-edit-popup-explanation-confirm-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    color: #fff;
    background: red;
    cursor: pointer;
    font-weight: bold;
}
/* 担当者編集ポップアップ */
.admin-agent-detail-popup-agent-delete-all{
    width: 40%;
    height:90%;
    padding:20px;
    z-index:10;
    position:absolute;
    background-color:white;
    top:0;
    left:50%;
    transform:translate(-50%,0);
}
.admin-agent-detail-popup-agent-delete-head{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 5px;   
}
.admin-agent-detail-popup-agent-delete-btns{
    display:flex;
    padding-top: 10px;
    justify-content: center;
    gap: 20px;
}
.admin-agent-detail-popup-agent-delete-cancel-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 30%;
    text-align: center;
    color: red;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
}
.admin-agent-detail-popup-agent-delete-confirm-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 30%;
    text-align: center;
    color: #fff;
    background: red;
    cursor: pointer;
    font-weight: bold;
}
/* 担当者追加ポップアップ */
.admin-agent-detail-popup-agent-profile-add-all{
    width: 50%;
    /* height:50%; */
    padding:20px;
    z-index:10;
    position:absolute;
    background-color:white;
    top: 5%;
    left:50%;
    transform:translate(-50%,0);
}
.admin-agent-detail-popup-agent-profile-add-head{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 5px;  
}
.admin-agent-detail-popup-agent-profile-add-table{
    margin: auto;
}
.admin-agent-detail-popup-agent-profile-add-table-text{
    width:20%;
    border:1px solid black;
    padding: 5px;
}
.admin-agent-detail-popup-agent-profile-add-table-content{
    width:80%;
    border:1px solid black; 
    padding: 5px;
}
.admin-agent-detail-popup-agent-profile-add-table-btns{
    display:flex;
    padding-top: 10px;
    justify-content: center;
    gap: 20px;
}
.admin-agent-detail-popup-agent-profile-add-table-cancel-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    color: red;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
}
.admin-agent-detail-popup-agent-profile-add-table-confirm-btn{
    border:1px solid;
    border-radius:10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    color: #fff;
    background: red;
    cursor: pointer;
    font-weight: bold;
}
/* 日付ごとの申込 */
.admin-agent-apply-list-head{
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
}
.admin-agent-new-apply-info-box{
    padding:10px;
    align-items:center;
    display:flex;
    border:1px solid black;
    background: #fff;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.admin-agent-apply-open-close-detail{
    padding: 5px 15px;
}
.admin-agent-apply-detail-box{
    border:1px solid black; 
    width: 80%;
    margin: auto;
    padding: 10px;
    background: #fff;
}
.admin-agent-apply-student-detail{
    padding: 5px;
}
.admin-agent-apply-all-amount{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.admin-agent-apply-back-btn{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.admin-agent-apply-back-btn:hover{
    text-decoration: underline;
    color: #000;
}
/* 通報申請来てた場合 */
.admin-agent-apply-list-report-coming{
    background: red;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    width: 15%;
    text-align: center;
}
.admin-agent-apply-list-report-reject{
    background: blue;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    width: 15%;
    text-align: center;
}
/* 通報理由 */
.admin-agent-apply-list-report-detail-box{
    border:1px solid black; 
    width: 80%;
    margin: auto;
    padding: 10px;
    background: #fff;
}
.admin-agent-apply-list-report-detail-admit-btn{
    background: red;
    color: #fff;
    width: 40%;
    font-weight: bold;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.admin-agent-apply-list-report-detail-refuse-btn{
    background: blue;
    color: #fff;
    width: 40%;
    font-weight: bold;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 特集記事お願いモーダル */
.admin-mail-popup-in-box{
    
}