p{
    margin: 10px;
}
login-all-box{
    text-align: center;
}
.login-form{
    width: 250px;
    margin:20px auto 20px auto;
    border: solid;
    text-align: center;
}
.login-form input{
    padding: 5px;
    margin-top: 10px;
}