html{
    height: 100%;
}
body{
    height: 100%;
}
p{
    margin: 10px;
}
.login-all-box{
    text-align: center;
}
.login-form{
    width: 250px;
    margin:20px auto 20px auto;
    border: solid;
    text-align: center;
}
.login-form input{
    padding: 5px;
    margin-top: 10px;
}

.help{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help p{
    text-align: center;
}
.help-mail{
    font-size: 20px;
    font-weight: bold;
}

/* 申し込みカート内 */
.check-cart-unit{
    background: #eaedf2;
    padding: 10px;
}
.check-cart-header{
    text-align: center;
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
}
.check-cart-agent-all{
    margin: 10px;
    padding: 10px 0;
}
.check-cart-each-agent-box{
    padding: 15px;
    width: 60%;
    margin: 10px auto;
    background: #fff;
}
.check-cart-each-agent-info-box{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.check-cart-agent-img-box{
    /* display: inline-block; */
    width: 40%;
}
.check-cart-each-agent-box img{
    /* width: 50%; */
    object-fit: cover;
    width: 100%;
}
.check-cart-agent-name{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
.check-cart-agent-delete-btn-box{
    text-align: center;
    padding: 10px 10px 0 10px;
}
.check-cart-agent-delete-btn{
    width: 40%;
    padding: 10px;
    background: red;
    color: #fff;
    border: none;
    cursor: pointer;
}
.check-cart-agent-delete-btn:hover{
    text-decoration: underline;
}
.check-cart-next-btn-box{
    text-align: center;
    padding-bottom: 10px;
}
.check-cart-next-btn{
    width: 50%;
    background: #2eb2f0;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.check-cart-next-btn:hover{
    text-decoration: underline;
}
.check-cart-next-btn a{
    color: #fff;
    text-decoration: none;
}
/* .check-cart-delete-check-unit{
    background: #fff;
    width: 60%;
    margin: auto;
} */
.check-cart-delete-check-text{
    background: #fff;
    width: 40%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.check-cart-delete-check-infos{
    width: 60%;
    display:flex;
    margin: auto;
    background: #fff;
    align-items: center;
    /* gap: 10%; */
}
.check-cart-delete-check-img-box{
    width: 30%;
    margin: 15px;
}
.check-cart-delete-check-img-box img{
    object-fit: cover;
    width: 100%;
}
.check-cart-delete-check-agent-name-box{
    width: 60%;
}
.check-cart-delete-check-agent-name{
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
.check-cart-delete-check-choices{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}
.check-cart-delete-check-yes{
    width: 20%;
    background: #fff;
    padding: 10px;
    border: none;
    color: red;
    border: solid;
    border-color: red;
}
.check-cart-delete-check-no{
    width: 20%;
    background: red;
    padding: 10px;
    border: none;
    color: #fff;
}