/* 特集記事一覧 */
.special-list-section{
    margin: auto;
    background: #eaedf2;
}
.special-list-all{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.special-list-all a{
    width: 100%;
    height: 100%;
}
.special-list-each-box{
    background: #fff;
    /* border: solid; */
    margin: 0px 0px 20px 0px;
    padding: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.special-list-img-box{
   width: 25%;
}
.special-list-img{
    display: block;
    object-fit: cover;
    width: 100%;
    /* margin: 10px; */
}
.special-list-informations{
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: column;
    justify-content: space-between;
}
.special-list-information-header{
    font-size: 30px;
}
.special-list-information-tags{
    display: flex;
    width: 100%;
    height: 15%;
    gap: 10px;
    font-size: 20px;
}
.special-list-information-explanation{
    width: 100%;
    height: 40%;
}

/* 特集記事詳細 */
.special-detail-all{
    background: #eaedf2;
    padding: 20px 0px;
}
.special-detail-all-box{
    width: 80%;
    margin: auto;
    background: #fff;
}
.special-detail-img-box{
    width: 40%;
    padding: 10px;
}
.special-detail-img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.special-detail-header-box{
    margin: auto;
}
.special-detail-header{
    margin: 10px;
    text-decoration: underline;
    text-decoration-color: #9bc7c4;
}
.special-detail-question{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    border: 3px;
    text-decoration-color: #9bc7c4;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px;
}
.special-detail-answer{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px;
}