*{
    margin: 0;
    padding: 0;
}

/* header */
.header-box{
    background-color: #52a49a;
}
.logo-box{
    text-align: center;
}
.header-logo{
width: 150px;
}
.header-bottom-box{
    display: flex;
    justify-content: space-between;
}
.header-menu{
padding-left: 5%;
 /* gap: 20px; */
 display: flex;
 justify-content: space-between;
 width: 40%;
 color: #fff;
 cursor: pointer;
 margin: 0;
 align-items: center;
}

.header-cart-box{
    display: inline-block;
    margin-right: 10px;
}
.header-cart{
    display: inline-block;
    padding: 20px 20px 5px 20px;
    position: relative;
}

.mail-icon{
    color: #fff;
}
.cart-count{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 8px;
    color: #fff;
    background-color: rgb(250, 53, 53);
    width: 24px;
    text-align: center;
    border-radius: 12px;
}

/* footer */
.footer-all-box{
 background-color: #52a49a;
}
.footer-top-box{
    padding: 10px 0 10px 0;
    text-align: center;
}
.footer-img{
    width: 200px;
}

.footer-links{
    text-align: center;
    padding: 10px 0 10px 0;
}
.footer-link{
    display: inline-block;
    margin: 0 10px 0 10px;
}
.footer-link a {
    color: #fff;
    text-decoration: none;
}