*{
    margin: 0;
    padding: 0;
}

/* header */

.header-box{
    background-color: #52a49a;
}
.logo-box{
    text-align: center;
}
.header-logo{
width: 150px;
}
.header-bottom-box{
    display: flex;
    justify-content: space-between;
}
.header-menu{
padding-left: 5%;
 /* gap: 20px; */
 display: flex;
 justify-content: space-between;
 width: 40%;
 color: #fff;
 cursor: pointer;
 margin: 0;
 align-items: center;
}

.header-cart-box{
    display: inline-block;
    margin-right: 10px;
}
.header-cart{
    display: inline-block;
    padding: 20px 20px 5px 20px;
    position: relative;
}

.mail-icon{
    color: #fff;
}
.cart-count{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 8px;
    color: #fff;
    background-color: rgb(250, 53, 53);
    width: 24px;
    text-align: center;
    border-radius: 12px;
}

/* footer */
.footer-all-box{
 background-color: #52a49a;
}
.footer-top-box{
    padding: 10px 0 10px 0;
    text-align: center;
}
.footer-img{
    width: 200px;
}

.footer-links{
    text-align: center;
    padding: 10px 0 10px 0;
}
.footer-link{
    display: inline-block;
    margin: 0 10px 0 10px;
}
.footer-link a {
    color: #fff;
    text-decoration: none;
}

/* indicator */
.progressbar {
    position: relative;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.progressbar li {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
    color: #999999;
    font-weight: bold;
}
.progressbar li:before {
    display: block;
    width: 18px;
    height: 18px;
    margin: 7px auto 20px auto;
    content: '';
    text-align: center;
    border-radius: 50%;
    background-color: #F5F5F5;
}
.progressbar li:after {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: -50%;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #F5F5F5;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active,
.progressbar li.complete{
    color: #008fb7;
}
.progressbar li.active:before,
.progressbar li.complete:before {
    background-color: #008fb7;
}
.progressbar li.active:after,
.progressbar li.complete:after {
    background-color: #008fb7;
}


/* トップページの一覧とサイドバーのdiv */
.main-informations{
    display: flex;
}
.main-informations section{
    width: 70%;
}
.filter-box{
    width: 30%;
}
/* 絞り込みポップアップ */
.filter{
    text-align: center;
    margin:auto;
    border: solid; /*わかりやすいようにつけた、最終的には消す*/
}

.filter-contents{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.filter-content{
    background-color: #ebebe6;
    padding: 10px;
    width: 40%;
}

.filter-topic{
    background-color: #b5dad5;
}

/* 並び変え、初心者モーダルのCSS */
.sort-informations{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}
.sorts{
    background-color: #ebebe6;
}
.sort-condition{
    height: 40px;
    background-color: #fff;
}

.sort-box{
    display: flex;
    width: 50%;
    padding: 10px;
    gap: 10px;
}
.sort-button{
    background-color: #fff;
    height: 40px;
    padding: 0 10px 0 10px;
    border: none;
}

.beginner-button{
    border-radius: 20px;
    padding: 0 15px 0 15px;
    border: none;
}

.result-number{
 padding-top: 10px;
 padding-left: 5%;
 font-weight: bolder;
}

/* 企業一覧 */
.agent-whole-box{
    display:flex;
    gap: 10px;
    padding-left: 5%;
    margin-top: 20px;
}
.agent-overview-box{
    padding: 5px;
    border: solid;
    border-color: #999999;
    cursor: pointer;
}
.agent-overview-box a{
    color: black;
    text-decoration: none;
}

.agent-name{
    padding-left: 10px;
    font-weight: bolder;
    font-size: 30px;
}
.agent-name:hover{
    text-decoration: underline;
}
.agent-article{
    width: 60%;
}
.agent-list-image{
    width: 100%;
}
.image-box{
    display: inline-block;
    width: 50%;
}
.agent-short-explanation{
    margin: 3% 5% 3% 5%;
}
.like-button{
    display: inline-block;
    border-radius: 30px;
    background-color: #71ccc0;
    padding: 5px;
    margin: 5px;
    color: white;
}
.like-icon{
    padding-left: 5px;
    color: red;
}

/* ページネーション */
.top-pagenation{
    justify-content: flex-end;
}
.top-pagenation a{
    color: #000;
}
.top-pagenation a:first-child{
    margin-left: 5px;
}

/* 企業詳細ページ */
.agent-detail{
    background: #eaedf2;
    padding: 20px 0;
}
.agent-detail-box{
    background: #fff;
    width: 80%;
    height: 90%;
    margin: 0px auto;
}
.agent-detail-name h1{
    width: 90%;
    margin: auto;
    text-decoration: underline;
    text-decoration-color: #a5d0ca;
    padding: 10px 10px;
}
.agent-detail-top-box{
    display: flex;
    margin: 0 5%;
}

.agent-detail-top-box img{
    margin: 20px 20px 20px 0;
    /* margin-left: 5%; */
    width: 25%;
}
.agent-detail-table{
    border: solid 1px;
    padding: 10px;
}
.agent-detail-table-th{
    background-color: #deeeec;
}

.detail-recomend{
    margin: 5%;
    background: #e5e5e5;
    padding: 10px;
}
.detail-feature{
    margin: 5%;
}

.detail-feature h2{
    text-decoration: underline;
    text-decoration-color: #a5d0ca;    
}
.agent-add-btn{
    text-align: center;
    padding: 20px 0;
}
.agent-add-btn button{
    font-size: 20px;
    font-weight: bold;
    background: #93c9c2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}